@charset "utf-8";

.shuffle_button {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 600px;
    margin-right: 50px;
    width: 300px;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

.text_group {
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 350px;
    margin-right: 50px;
}

th, td{
    padding: 10px 20px;
    border: 1px solid black;
}